{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/signup/pick-your-pup.css' %}" />
{% endblock %}
{% block content %}
<section class="">

  <div class="header-container">
    <a href="">
      <div class="back-icon"><img src="" alt="back-icon" /></div>
    </a>
    <div class="indicator-container">
      <div class="indicator-1"></div>
      <div class="indicator-2"></div>
      <div class="indicator-3"></div>
      <div class="indicator-4"></div>
      <div class="indicator-5"></div>
      <div class="indicator-6"></div>
    </div>
  </div>

  <div class="profile-container">
    <div class="pup-img-container">
      <img src="" alt="Picture of the chosen pup" />
    </div>
    <div class="pup-name-container">
      <h1>{{ pup.name }}</h1>
      <div class="pup-sex-age-container"> {{ pup.sex }} {{ pup.age }}</div>
    </div>
  </div>

  <div class="pup-details-container">
    <div class="tabs-container">
      <h3>About</h3>
      <h3>Activity</h3>
      <h3>Health</h3>
    </div>
    <div class="divider"></div>
    <p>{{ pup.description }}</p>
  </div>

  <div class="view-details-btn-container">
    <div class="view-details-btn">
      <a href="">Continue</a>
    </div>
  </div>


  <div class="pup-actions">
    <a href="{% url 'pup-update' pup.id %}" class="">Edit</a>
    <a href="{% url 'pup-delete' pup.id %}" class="">Delete</a>
  </div>
  </div>
</section>
{% endblock %}