{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static '' %}"/>
{% endblock %}
{% block content %}
<h1>User Details Page</h1>
<hr />
<p class="page-content">
==================================================================================
This page will display the user details from the nav-bar. 
==================================================================================
</p>
{% endblock %}