{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
<section>
    <div alt="Two Dogs" class="home-background">
        <div class="logo-container">
            <img src="{% static 'images/logo-img.png' %}" alt="Guide Dogs Logo" class="logo-img">
            <h1 class="logo-container-h1">Guide Dogs</h1>
        </div>
    </div>
    
    <!-- Buttons for login and signup -->

        <div class="login-btn-container">
            <a href="{% url 'login' %}" class="btn">Login</a>
        </div>
        <div class="signup-btn-container">
            <a href="{% url 'signup' %}" class="btn">Sign Up</a>
        </div>
    </div>
</section>

<style>
    .hidden {
        display: none;
    }
    .auth-buttons {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }
</style>

{% endblock %}