{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<body>
    <div class="all-landing-container">
        <div class="logo-container">
            <img src="{% static 'images/logo-img.png' %}" alt="Guide Dogs Logo" class="logo-img">
            <h1 class="logo-h1">Guide Dogs</h1>
        </div>

        <div class="home-btns-container">
            <!-- New container for the login form with enhanced styling -->
            <div class="login-form-container">
                <div class="page-header">
                    <h1 class="login-header">Log In</h1>
                </div>
                {% if error %}
                    <p class="red-text">{{ error }}</p>
                {% endif %}
                <form action="" method="post" class="form-container" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_email">Email:</label>
                        <input type="email" name="email" id="id_email" required>
                    </div>
                    <div class="form-group">
                        <label for="id_password">Password:</label>
                        <input type="password" name="password" id="id_password" required>
                    </div>
                    <button type="submit" class="btn submit">Submit</button>
                    <a href="{% url 'landing' %}" class="btn back-btn">Back</a>
                </form>
            </div>
            <div class="footer-container">
                <p>By continuing, you agree to our Terms and Privacy.</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}