{% load static %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/signup/signup.css' %}" />
{% endblock %}
{% block content %}
<body>
  <div class="all-signup-container">
    {% if error_message %}
      <p class="error-text">{{ error_message }}</p>
    {% endif %}

    <form action="" method="post" class="form-container" autocomplete="off">
      {% csrf_token %}
      <div class="form-label-input-container">
        <label for="id_password1" class="logo-h1">What's your password?</label>
        <input type="password" name="password1" id="id_password1" class="form-input" placeholder="Type here..."required>
        {% if form.password1.errors %}
          <p class="error-text">{{ form.password1.errors }}</p>
        {% endif %}
        <p>Your password must be at least 8 characters</p>
      </div>

      <div class="form-label-input-container">
        <label for="id_password2" class="logo-h1">Confirm your password!</label>
        <input type="password" name="password2" id="id_password2" class="form-input" placeholder="Type here..." required>
        {% if form.password2.errors %}
          <p class="error-text">{{ form.password2.errors }}</p>
        {% endif %}
      </div>

      <div class="signup-btn-container">
        <button type="submit" class="btn submit">
          <svg width="64" height="64" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 20C10 20 4 19 4 13C4 11 6 9 8 9C9 9 10 10 12 10C14 10 15 9 16 9C18 9 20 11 20 13C20 19 14 20 12 20Z" 
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <circle cx="7" cy="4" r="2" fill="currentColor"/>
            <circle cx="12" cy="3" r="2" fill="currentColor"/>
            <circle cx="17" cy="4" r="2" fill="currentColor"/>
          </svg>
        </button>
      </div>
    </form>
    <div class="guide-dog-img-container">
      <img src="/static/images/guide-dog.png" alt="Guide Dog">
    </div>
  </div>
</body>
{% endblock %}