{% load static %}
{% block head %}
{% endblock %}
{% block content %}
<form action="" method="post" class="form-container" autocomplete="off">
    {% csrf_token %}
<div class="form-group">
    <label for="id_password1">What's your password?</label>
    <input type="password" name="password1" id="id_password1" required>
    {% if form.password1.errors %}
      <p class="error-text">{{ form.password1.errors }}</p>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="id_password2">Confirm your password!:</label>
    <input type="password" name="password2" id="id_password2" required>
    {% if form.password2.errors %}
      <p class="error-text">{{ form.password2.errors }}</p>
    {% endif %}
  </div>
  <button type="submit" class="btn submit">Submit!</button>
</form>
{% endblock %}