{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/signup/signup.css' %}" />
{% endblock %}

{% block content %}
<div class="header-container">
    <img src="{% static 'images/back-icon.svg' %}" alt="Back Icon" class="back-icon">
    <div class="indicator-container">
        <div class="indicator_1"></div>
        <div class="indicator_2"></div>
        <div class="indicator_3"></div>
        <div class="indicator_4"></div>
        <div class="indicator_5"></div>
        <div class="indicator_6"></div>
    </div>
</div>
    <div class="page-header">
  <h1>What's your title?</h1>
</div>
{% if error_message %}
  <p class="error-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.title.id_for_label }}">Title:</label>
    {{ form.title }}
  </div>
  <h1>What's your name?</h1>
  <div class="form-group">
    <label for="{{ form.first_name.id_for_label }}">First Name:</label>
    {{ form.first_name }}
  </div>
  <div class="form-group">
    <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
    {{ form.last_name }}
  </div>
  <button type="submit" class="btn submit">Next</button>
</form>
{% endblock %}
