{% load static %}
{% block head %}
{% endblock %}
{% block content %}
<div class="page-header">
  <h1>Sign Up: Tell Us Your Name</h1>
</div>
{% if error_message %}
  <p class="error-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.title.id_for_label }}">Title:</label>
    {{ form.title }}
  </div>
  <div class="form-group">
    <label for="{{ form.first_name.id_for_label }}">First Name:</label>
    {{ form.first_name }}
  </div>
  <div class="form-group">
    <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
    {{ form.last_name }}
  </div>
  <button type="submit" class="btn submit">Next</button>
</form>
{% endblock %}