{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- <link rel="stylesheet" href="{% static '' %}" /> -->
{% endblock %}
{% block content %}

<section class="page-header">
  <h1> All current pups in training! </h1>

</section>
<div>
  <a href="/pups/create">
    <h2>Add a Pup</h2>
  </a>
  <br />
</div>


<section class="card-container">
  {% for pup in pups %}
  <div class="card">
    ++++++++++++++++++++++++++++++++++++++++++++++++++
    <a href="{% url 'pup-profile' pup.id %}">
      <div class="card-content">
        <div class="card-img-container">
          {% if pup.picture_url %}
          <img src="{{ pup.picture_url.url }}" alt="Puppy picture" />
          {% endif %}
        </div>
        <h2 class="card-title">{{ pup.name }}</h2>
        {% if pup.age > 0 %}
        <p>A {{ pup.age }} year old {{ pup.breed }}</p>
        {% else %}
        <p>A {{ pup.breed }} puppy.</p>
        {% endif %}
        <p><small>{{ pup.description }}</small></p>
      </div>
    </a>
    ++++++++++++++++++++++++++++++++++++++++++++++++++
  </div>
  {% endfor %}
</section>

{% endblock %}