{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="" />
{% endblock %}
{% block content %}
<h1>Your Pupdates</h1>

<hr />
{% for pupdate in pupdates %}

<section class="card-container">
  <a href="/pupdates/{{ pupdate.id }}">
  <div class="pupdate-card">
    <h2>{{ pupdate.title }}</h2>
    <p>{{ pupdate.content }}</p>

    <div class="card-img-container">
    {% if pupdate.picture_url %}
    <img src="{{ pupdate.picture_url.url }}" alt="Pupdate Image">
    {% endif %}
    </div>

    {% if pupdate.media_url %}
    <a href="{{ pupdate.media_url }}">Media Link</a>
    {% endif %}

    <p>Date: {{ pupdate.date }}</p>
  </div>
  </a>

  {% endfor %}
</section>
{% endblock %}