{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static '' %}"/>
{% endblock %}
{% block content %}
<h1>User Details Page</h1>
<hr />
<p class="page-content">
==================================================================================
This page will display the pupdates feed in cards:

<div>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  <h2> Example Card </h2>
  <a href="/pupdates-details">
    Click card for link to pup display page <br/>
    <img src="{% static '' %}" alt="Pup X from Pup-Index" />
  </a>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

</div>

==================================================================================
</p>
{% endblock %}
