{% extends 'base.html' %}
{% block content %}
<h1>User Details Page</h1>
<hr />
<p class="page-content"></p>
==================================================================================
This page will display the detailed pupdates from the feed cards.
==================================================================================

<section class="pupdate-detail-container">
    <div class="pupdate-img">
        {% if pupdate.picture_url %}
        <img src="{{ pupdate.picture_url.url }}" alt="Pupdate picture" />
        {% endif %}
    </div>

    <div class="pupdate-detail-content">
        <h1>{{ pupdate.title }}</h1>
        <h2> {{ pupdate.date }} </h2>
        <h3>{{ pupdate.content }}</h3>
        {{ pupdate.media_url }}
    </div>

    {% if perms.main_app.can_edit_all_elements %}
    <div class="pupdate-actions">
        <a href="{% url 'pupdates-update' pupdate.id %}" class="btn warn">Edit</a>
        <a href="{% url 'pupdates-delete' pupdate.id %}" class="btn danger">Delete</a>
    </div>
    {% endif %}

</section>


{% endblock %}