@media screen and (min-width: 393px) and (min-height: 852px) {

    .header-container {
        display: inline-flex;
        align-items: center;
        gap: 24px;
    }

    .back-icon {
        width: 24px;
        height: 24px;
        transform: rotate(-90deg);
        aspect-ratio: 1/1;
    }

    .indicator-container {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .indicator-1 {
        width: 24px;
        height: 8px;
        border-radius: 100px;
        background: #ECEDEE;
    }

    .indicator-2 {
        width: 24px;
        height: 8px;
        border-radius: 100px;
        background: #ECEDEE;
    }

    .indicator-3 {
        width: 24px;
        height: 8px;
        border-radius: 100px;
        background: #ECEDEE;
    }

    .indicator-4 {
        width: 24px;
        height: 8px;
        border-radius: 100px;
        background: #ECEDEE;
    }

    .indicator-5 {
        width: 48px;
        height: 8px;
        border-radius: 100px;
        background: #002B5B;
    }

    .indicator-6 {
        width: 24px;
        height: 8px;
        border-radius: 100px;
        background: #ECEDEE;
    }

    .pup-details-container {
        display: flex;
        width: 345px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .tabs-container {
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }

    h3 {
        color: #002B5B;
        font-family: "Hagrid Text Trial";
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.3px;
    }

    .divider {
        height: 2px;
        align-self: stretch;
        border-radius: 100px;
        background: #ECEDEE;
    }

    p {
        align-self: stretch;
        color: #596A73;
        font-family: Quicksand;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.21px;
    }

    




















}